*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(/img/1616525300_1-p-krutoi-fon-1.jpg);

    font-family: 'Tapestry', cursive;
    height: 100%;
}
.nav{

    background-color: #fff;
    height: 297px;
    border-radius: 40px;
    width: 210px;
    margin: 150px auto;


}


.h1{
    font-size: 2em;
    color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


p{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 1em;

    position: relative;
    top: 1em;
    left: 1em;
}
.input{
    text-align: 10em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 40px;
    position: relative;
    left: 1em;
    top: 1.5em;
    width: 10em;
}
.input1{
    text-align: 10em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 40px;
    position: relative;
    left: 1em;
    top: 2em;
    width: 10em;
}
.input2{
    text-align: 10em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 40px;
    position: relative;
    left: 1.2em;
    top: 3em;
    width: 12.2em;
}
.input3{
    text-align: 10em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 40px;
    position: relative;
    left: 1em;
    top: 3em;
    width: 10em;
}
.input4{
    text-align: 10em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 40px;
    position: relative;
    left: 1em;
    top: 4em;
    width: 10em;
}
.input5{
    text-align: 10em;
    position: relative;
    bottom: 8em;
    font-size: 1em;
    border-radius: 40px;
    background-color: rgb(238, 16, 16);
    width: 10em;
}
.input5:hover{
    
    color: #fff;
    background: #333;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
.input5:active {
    vertical-align: middle;
    color: #01a715;
}

.btn{
    width: auto;
    text-align: center;
}
a{
    text-decoration: none;
}